<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Events</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

</head>
<body>
<h1>An amazing Events screen</h1>

<!-- print all events -->
<% events.forEach(function(event){ %>
<li><%= JSON.stringify(event) %></li>
<% }); %>

<form action="/item/" method="post">
    <input type="text" name="name" placeholder="event name">
    <input type="date" name="time">
    <input type="text" name="location" placeholder="where">
    <input type="text" name="food" placeholder="what kind of food">
    <input type="text" name="img" placeholder="Add and image url">
    <button>Add</button>
</form>

<form action="/item/" method="PUT">
    <input type="text" name="name" placeholder="event name">
    <input type="date" name="time">
    <input type="text" name="location" placeholder="where">
    <input type="text" name="food" placeholder="what kind of food">
    <input type="text" name="img" placeholder="Add and image url">
    <button>Add</button>
</form>

<script type="text/javascript" src="/public/script.js"></script>
</body>
</html>
