<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>items</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
<h1>Welcome to events calculator</h1>
<h2>Please register or login</h2>
<input type="text" id="username" placeholder="username">
<input type="text" id="password" placeholder="password">
<button id="register">Register</button>
<button id="login">Login</button>
<div id="info"></div>


<script type="text/javascript" src="/public/script.js"></script>
</body>
</html>
