.title {
    font-family: 'Roboto Mono', monospace;
    size: 100px;
}

.allContainers {
    display: flex;
    margin-left: 3%;
    margin-right: 3%;
}

.container {
    clear: both;
    display: block;
    margin-top: 0%;
    margin-right: 25%;
    width: 0%;
    align-content: center;
    font-family: 'Roboto Mono', monospace;
}

.thinField {
    width: 120px;
}

.wideField {
    width: 200px;
}

.rightContainer {
    clear: both;
    display: block;
    margin-left: -4%;
    width: 56%;
    font-family: 'Roboto Mono', monospace;
    font-size: small;
}

.tableContainer {
    margin-bottom: 5%;
    font-size: 10px;
}

.tableSize {
    font-size: small;
}

.addBtn {
    width: 120px;
}

.deleteBtn {
    width: 250px;
    margin-bottom: 10px;
    margin-left: 100%;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 150px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 150px;
    height: 100px;
}

div.desc {
    padding: 3px;
    text-align: center;
    color: #00bfa5;
}

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
.material-icons {padding-right: 12px}
